/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.customWrapper {
  margin: 0px auto;
  max-width: 900px;
  padding: 0 20px;
}

.alignHorizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
}

.alignColumn {
  display: flex;
  flex-direction: column;
}

.colorWrapper {
  min-width: 168px;
  border:1px solid #CCCCCC; 
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right:10px;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.fontSizeWrapper {
  min-width: 370px;
  max-width: 670px;
  border:1px solid #CCCCCC; 
  border-radius: 5px;
  margin-bottom: 20px;
}

.fontWeightWrapper {
  min-width: 180px;
  border:1px solid #CCCCCC; 
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right:20px;
}

.color {
  height: 160px;  
}


.colorGold {
  height: 160px; 
  background-color:#BAA082;  
}

.colorWhite {
  height: 160px; 
  background-color:#FFFFFF;  
}

.colorBlack {
  height: 160px; 
  background-color:#000C17;  
}

.colorGrey {
  height: 160px; 
  background-color:#E2E2DC;  
}

.colorDarkGrey {
  height: 160px; 
  background-color:#40474F;  
}

.colorYellow {
  height: 160px;
  background-color: #E8AB12;
}

.colorBlue {
  height: 160px;
  background-color: #00667C;
}

.colorBoxContent {
  height: 90px; 
  padding-left: 15px; 
  padding-right: 15px; 
  padding-bottom: 5px;
  border-top: 1px solid #CCCCCC;
  color: #222222;
}

.fontSizeBoxContent {
  height: 90px; 
  padding-left: 20px;
  padding-bottom: 5px;
  border-top: 1px solid #CCCCCC;
  color: #222222;
}

.fontWightBoxContent {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-top: 1px solid #CCCCCC;
  color: #222222; 
}

.typographyBoxContent {
  padding-left: 15px; 
  padding-right: 15px; 
  margin-bottom: 15px;
  border-top: 1px solid #CCCCCC;
  color: #222222; 
}

.h2 {
  font-size: 24px;
  font-weight: 300;
  padding-top: 35px;
  padding-bottom: 15px;
  color: rgb(56, 56, 56)
}

.h4 {
  font-size: 15px;
  font-weight: 500;
  color: rgb(56, 56, 56);
  margin-top:10px;
}

.textGrey {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px; 
  color: #888;
}